### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [87]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [45]:
# Create a summry dataframe for the schools data
totalSchools  = school_data_complete["School ID"].value_counts().count()
totalStudents = school_data_complete["Student ID"].value_counts().count()
schools       = school_data_complete.groupby(by=["School ID"]).max()
totalBudget   = schools["budget"].sum()
avgMath       = school_data_complete["math_score"].mean()
avgReading    = school_data_complete["reading_score"].mean()
avgPassing    = (avgMath + avgReading) / 2

# Get those students whom passed Math and Reading
studentPassMath = school_data_complete.loc[school_data_complete["math_score"] >= 70,"Student ID"].count()
studentPassRead = school_data_complete.loc[school_data_complete["reading_score"] >= 70,"Student ID"].count()

# Calculate the percentages for each signature
perPassMath = (studentPassMath / totalStudents)*100
perPassRead = (studentPassRead / totalStudents)*100

In [46]:
# Create the data frame for the summary statistics and assign the calculated variables
summary = {"Total Schools":totalSchools,
          "Total Students":totalStudents,
          "Total Budget":totalBudget,
          "Average Math Score":avgMath,
          "Average Reading Score":avgReading,
          "% Passing Math":perPassMath,
          "% Passing Reading":perPassRead,
          "% Overeall Passing Rate":avgPassing}
# Convert to data frame
summary_data = pd.DataFrame(summary,index=[0])

In [47]:
# Apply formatting for each of the columns
summary_data = summary_data.style.format({
     "Total Schools":"{:,}",
     "Total Students":"{:,}",
     "Total Budget":"${:,}",
     "Average Math Score":"{:,.2f}",
     "Average Reading Score":"{:,.2f}",
     "% Passing Math":"%{:,.2f}",
     "% Passing Reading":"%{:,.2f}",
     "% Overeall Passing Rate":"%{:,.2f}"
     })

In [48]:
# Display the summary table
display(summary_data)

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [68]:
#Summary data table for schools

schools_data = school_data_complete.groupby(by=["school_name","type"]).agg(total_students=('Student ID','count'),
                                                              total_school_budget=('budget','sum'),
                                                              avg_math_score=('math_score',np.mean),
                                                              avg_read_score=('reading_score',np.mean)
                                                             )

In [69]:

schools_data["Per Student Budget"] = schools_data['total_school_budget'].div(schools_data["total_students"],axis=0)
# Get the total number of students who passed math
schools_data["total_pass_math"] = school_data_complete.loc[school_data_complete["math_score"]>= 70].groupby(by=["school_name","type"])["school_name"].count()
# Get the total number of students who passed reading
schools_data["total_pass_read"] = school_data_complete.loc[school_data_complete["reading_score"]>= 70].groupby(by=["school_name","type"])["school_name"].count()

In [88]:
schools_data.head()

,,total_students,total_school_budget,avg_math_score,avg_read_score,Per Student Budget,total_pass_math,total_pass_read,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,type,,,,,,,,,,
Bailey High School,District,4976,15549641728,77.048432,81.033963,3124928.0,3318,4077,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,2009159448,83.061895,83.975780,1081356.0,1749,1803,94.133477,97.039828,95.586652
Figueroa High School,District,2949,5557128039,76.711767,81.158020,1884411.0,1946,2381,65.988471,80.739234,73.363852
Ford High School,District,2739,4831365924,77.102592,80.746258,1763916.0,1871,2172,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,1346890000,83.351499,83.816757,917500.0,1371,1426,93.392371,97.138965,95.265668

In [71]:
schools_data["% Passing Math"] = schools_data['total_pass_math'].div(schools_data["total_students"],axis=0)*100
schools_data["% Passing Reading"] = schools_data['total_pass_read'].div(schools_data["total_students"],axis=0)*100
schools_data["Overall Passing Rate"] = schools_data['% Passing Math'].add(schools_data["% Passing Reading"]).div(2)

In [72]:
# Apply formatting for each of the columns
schools_data.style.format({
     "total_students":"{:,}",
     "total_school_budget":"${:,}",
     "avg_math_score":"{:,.2f}",
     "avg_read_score":"{:,.2f}",
     "Per Student Budget":"${:,.2f}",
     "% Passing Math":"%{:,.2f}",
     "% Passing Reading":"%{:,.2f}",
     "Overall Passing Rate":"%{:,.2f}"
     })

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [73]:
top_perf_schools = schools_data.sort_values(by=["Overall Passing Rate"], ascending = False).head(5)


top_perf_schools.style.format({
     "total_students":"{:,}",
     "total_school_budget":"${:,}",
     "avg_math_score":"{:,.2f}",
     "avg_read_score":"{:,.2f}",
     "Per Student Budget":"${:,.2f}",
     "% Passing Math":"%{:,.2f}",
     "% Passing Reading":"%{:,.2f}",
     "Overall Passing Rate":"%{:,.2f}"
     })

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [74]:
top_bott_schools = schools_data.sort_values(by=["Overall Passing Rate"], ascending = True).head(5)

top_bott_schools.style.format({
     "total_students":"{:,}",
     "total_school_budget":"${:,}",
     "avg_math_score":"{:,.2f}",
     "avg_read_score":"{:,.2f}",
     "Per Student Budget":"${:,.2f}",
     "% Passing Math":"%{:,.2f}",
     "% Passing Reading":"%{:,.2f}",
     "Overall Passing Rate":"%{:,.2f}"
     })

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [75]:
nineth_grade = school_data_complete.loc[school_data_complete["grade"]=="9th"].groupby(by=["school_name"])["math_score"].mean()
#display(nineth_grade)

tenth_grade = school_data_complete.loc[school_data_complete["grade"]=="10th"].groupby(by=["school_name"])["math_score"].mean()
#display(tenth_grade)

eleventh_grade = school_data_complete.loc[school_data_complete["grade"]=="11th"].groupby(by=["school_name"])["math_score"].mean()
#display(eleventh_grade)

twelfth_grade = school_data_complete.loc[school_data_complete["grade"]=="12th"].groupby(by=["school_name"])["math_score"].mean()
#display(twelveth_grade)

In [76]:
#display(nineth_grade.reset_index())
#display(tenth_grade.reset_index())

#display(nineth_grade)

# Combine series
grades_data = {"Nineth Grade":nineth_grade,
         "Tenth Grade":tenth_grade,
         "Eleventh Grade":eleventh_grade, 
         "Twelfth Grade":twelfth_grade}
test = pd.DataFrame(grades_data)
display(test)
#Formatting is pending

,Nineth Grade,Tenth Grade,Eleventh Grade,Twelfth Grade
school_name,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [43]:
nineth_grade_r = school_data_complete.loc[school_data_complete["grade"]=="9th"].groupby(by=["school_name"])["reading_score"].mean()
#display(nineth_grade)

tenth_grade_r = school_data_complete.loc[school_data_complete["grade"]=="10th"].groupby(by=["school_name"])["reading_score"].mean()
#display(tenth_grade)

eleventh_grade_r = school_data_complete.loc[school_data_complete["grade"]=="11th"].groupby(by=["school_name"])["reading_score"].mean()
#display(eleventh_grade)

twelfth_grade_r = school_data_complete.loc[school_data_complete["grade"]=="12th"].groupby(by=["school_name"])["reading_score"].mean()
#display(twelveth_grade)

In [44]:
# Combine series
grades_read_data = {"Nineth Grade":nineth_grade_r,
         "Tenth Grade":tenth_grade_r,
         "Eleventh Grade":eleventh_grade_r, 
         "Twelfth Grade":twelfth_grade_r}
reading_data = pd.DataFrame(grades_read_data)
display(reading_data)

# Formatting is pending

,Nineth Grade,Tenth Grade,Eleventh Grade,Twelfth Grade
school_name,,,,
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [78]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [89]:
scores_by_schools = pd.cut(schools_data["Per Student Budget"], bins=spending_bins, labels=group_names )

In [95]:
schools_data.loc[:,["Per Student Budget","total_school_budget","total_students"]]

,,Per Student Budget,total_school_budget,total_students
school_name,type,,,
Bailey High School,District,3124928.0,15549641728,4976
Cabrera High School,Charter,1081356.0,2009159448,1858
Figueroa High School,District,1884411.0,5557128039,2949
Ford High School,District,1763916.0,4831365924,2739
Griffin High School,Charter,917500.0,1346890000,1468
Hernandez High School,District,3022020.0,14007062700,4635
Holden High School,Charter,248087.0,105933149,427
Huang High School,District,1910635.0,5573322295,2917
Johnson High School,District,3094650.0,14733628650,4761
Pena High School,Charter,585858.0,563595396,962
Rodriguez High School,District,2547363.0,10186904637,3999
Shelton High School,Charter,1056600.0,1860672600,1761
Thomas High School,Charter,1043130.0,1705517550,1635
Wilson High School,Charter,1319574.0,3012587442,2283
Wright High School,Charter,1049400.0,1888920000,1800

## Scores by School Size

* Perform the same operations as above, based on school size.

In [97]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [100]:
school_size = schools_data.loc[:,["total_students",
                                  "avg_math_score",
                                  "avg_read_score",
                                  "% Passing Math",
                                  "% Passing Reading",
                                  "Overall Passing Rate"]]

school_size["Category"] = pd.cut(schools_data["total_students"], bins=size_bins, labels=group_names)

In [102]:
schoolsSizeData = school_size.groupby(by="Category").mean()
display(schoolsSizeData)

,total_students,avg_math_score,avg_read_score,% Passing Math,% Passing Reading,Overall Passing Rate
Category,,,,,,
Small (<1000),694.500,83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),1704.400,83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),3657.375,77.746417,81.344493,69.963361,82.766634,76.364998

## Scores by School Type

* Perform the same operations as above, based on school type.

In [111]:
display(school_size.groupby(by="type").mean())

,total_students,avg_math_score,avg_read_score,% Passing Math,% Passing Reading,Overall Passing Rate
type,,,,,,
Charter,1524.250000,83.473852,83.896421,93.620830,96.586489,95.103660
District,3853.714286,76.956733,80.966636,66.548453,80.799062,73.673757