### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            39160, 39161, 39162, 39163, 39164, 39165, 39166, 39167, 39168,
            39169],
           dtype='int64', length=39170)

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
# Create a summry dataframe for the schools data
totalSchools  = school_data_complete["School ID"].value_counts().count()
totalStudents = school_data_complete["Student ID"].value_counts().count()
schools       = school_data_complete.groupby(by=["School ID"]).max()
totalBudget   = schools["budget"].sum()
avgMath       = school_data_complete["math_score"].mean()
avgReading    = school_data_complete["reading_score"].mean()
avgPassing    = (avgMath + avgReading) / 2

# Get those students whom passed Math and Reading
studentPassMath = school_data_complete.loc[school_data_complete["math_score"] >= 70,"Student ID"].count()
studentPassRead = school_data_complete.loc[school_data_complete["reading_score"] >= 70,"Student ID"].count()

# Calculate the percentages for each signature
perPassMath = studentPassMath / totalStudents
perPassRead = studentPassRead / totalStudents

In [4]:
# Create the data frame for the summary statistics and assign the calculated variables
summary = {"Total Schools":totalSchools,
          "Total Students":totalStudents,
          "Total Budget":totalBudget,
          "Average Math Score":avgMath,
          "Average Reading Score":avgReading,
          "% Passing Math":perPassMath,
          "% Passing Reading":perPassRead,
          "% Overeall Passing Rate":avgPassing}
# Convert to data frame
summary_data = pd.DataFrame(summary,index=[0])

In [5]:
# Apply formatting for each of the columns
summary_data = summary_data.style.format({
     "Total Schools":"{:,}",
     "Total Students":"{:,}",
     "Total Budget":"${:,}",
     "Average Math Score":"{:,.2f}",
     "Average Reading Score":"{:,.2f}",
     "% Passing Math":"%{:,.2f}",
     "% Passing Reading":"%{:,.2f}",
     "% Overeall Passing Rate":"%{:,.2f}"
     })

In [6]:
# Display the summary table
display(summary_data)

In [21]:
#Summary data table for schools

schools_data = school_data_complete.groupby(by=["school_name","type"]).agg(total_students=('Student ID','count'),
                                                              total_school_budget=('budget','sum'),
                                                              avg_math_score=('math_score',np.mean),
                                                              avg_read_score=('reading_score',np.mean)
                                                             )

,,total_students,total_school_budget,avg_math_score,avg_read_score
school_name,type,,,,
Bailey High School,District,4976,15549641728,77.048432,81.033963
Cabrera High School,Charter,1858,2009159448,83.061895,83.975780
Figueroa High School,District,2949,5557128039,76.711767,81.158020
Ford High School,District,2739,4831365924,77.102592,80.746258
Griffin High School,Charter,1468,1346890000,83.351499,83.816757

In [22]:
# Get the total number of students who passed math
schools_data["total_pass_math"] = school_data_complete.loc[school_data_complete["math_score"]>= 70].groupby(by=["school_name","type"])["school_name"].count()
# Get the total number of students who passed reading
schools_data["total_pass_read"] = school_data_complete.loc[school_data_complete["reading_score"]>= 70].groupby(by=["school_name","type"])["school_name"].count()

,,total_students,total_school_budget,avg_math_score,avg_read_score,total_pass_math,total_pass_read
school_name,type,,,,,,
Bailey High School,District,4976,15549641728,77.048432,81.033963,3318,4077
Cabrera High School,Charter,1858,2009159448,83.061895,83.975780,1749,1803
Figueroa High School,District,2949,5557128039,76.711767,81.158020,1946,2381
Ford High School,District,2739,4831365924,77.102592,80.746258,1871,2172
Griffin High School,Charter,1468,1346890000,83.351499,83.816757,1371,1426
Hernandez High School,District,4635,14007062700,77.289752,80.934412,3094,3748
Holden High School,Charter,427,105933149,83.803279,83.814988,395,411
Huang High School,District,2917,5573322295,76.629414,81.182722,1916,2372
Johnson High School,District,4761,14733628650,77.072464,80.966394,3145,3867
Pena High School,Charter,962,563595396,83.839917,84.044699,910,923
Rodriguez High School,District,3999,10186904637,76.842711,80.744686,2654,3208
Shelton High School,Charter,1761,1860672600,83.359455,83.725724,1653,1688
Thomas High School,Charter,1635,1705517550,83.418349,83.848930,1525,1591
Wilson High School,Charter,2283,3012587442,83.274201,83.989488,2143,2204
Wright High School,Charter,1800,1888920000,83.682222,83.955000,1680,1739

In [34]:
schools_data["% Passing Math"] = schools_data['total_pass_math'].div(schools_data["total_students"],axis=0)*100
schools_data["% Passing Reading"] = schools_data['total_pass_read'].div(schools_data["total_students"],axis=0)*100
schools_data["Overall Passing Rate"] = schools_data['avg_math_score'].add(schools_data["avg_math_score"],axis=0).div(2,axis=0)

In [35]:
# Apply formatting for each of the columns
schools_data.style.format({
     "total_students":"{:,}",
     "total_school_budget":"${:,}",
     "avg_math_score":"{:,.2f}",
     "avg_read_score":"{:,.2f}",
     "Per Student Budget":"${:,.2f}",
     "% Passing Math":"%{:,.2f}",
     "% Passing Reading":"%{:,.2f}",
     "Overall Passing Rate":"%{:,.2f}"
     })

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [37]:
top_perf_schools = schools_data.sort_values(by=["Overall Passing Rate"], ascending = False).head(5)


top_perf_schools.style.format({
     "total_students":"{:,}",
     "total_school_budget":"${:,}",
     "avg_math_score":"{:,.2f}",
     "avg_read_score":"{:,.2f}",
     "Per Student Budget":"${:,.2f}",
     "% Passing Math":"%{:,.2f}",
     "% Passing Reading":"%{:,.2f}",
     "Overall Passing Rate":"%{:,.2f}"
     })

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [38]:
top_bott_schools = schools_data.sort_values(by=["Overall Passing Rate"], ascending = True).head(5)

top_bott_schools.style.format({
     "total_students":"{:,}",
     "total_school_budget":"${:,}",
     "avg_math_score":"{:,.2f}",
     "avg_read_score":"{:,.2f}",
     "Per Student Budget":"${:,.2f}",
     "% Passing Math":"%{:,.2f}",
     "% Passing Reading":"%{:,.2f}",
     "Overall Passing Rate":"%{:,.2f}"
     })

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [46]:
nineth_grade = school_data_complete.loc[school_data_complete["grade"]=="9th"].groupby(by=["school_name"])["math_score"].mean()
display(nineth_grade)

tenth_grade = school_data_complete.loc[school_data_complete["grade"]=="10th"].groupby(by=["school_name"])["math_score"].mean()
display(tenth_grade)

eleventh_grade = school_data_complete.loc[school_data_complete["grade"]=="11th"].groupby(by=["school_name"])["math_score"].mean()
display(eleventh_grade)

twelveth_grade = school_data_complete.loc[school_data_complete["grade"]=="12th"].groupby(by=["school_name"])["math_score"].mean()
display(twelveth_grade)

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [47]:
# Combine series
test = pd.DataFrame(nineth_grade,tenth_grade)
display(test)

#eleventh_grade
#twleveth_grade

            math_score
math_score
76.996772          NaN
83.154506          NaN
76.539974          NaN
77.672316          NaN
84.229064          NaN
77.337408          NaN
83.429825          NaN
75.908735          NaN
76.691117          NaN
83.372000          NaN
76.612500          NaN
82.917411          NaN
83.087886          NaN
83.724422          NaN
84.010288          NaN

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.